/* CSS Variables */
:root {
	--green: #3caea3;
	--dark: #333;
	--blue: #20639b;
	--lightBlue: #399cbd;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	font-family: Arial;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
}

.wrapper {
	display: grid;
	grid-gap: 40px;
}
.main-nav {
	position: relative;
	left: 0;
	top: 0;
	padding: 10px;
	font-size: 35px;
	font-family: 'Playball', cursive;
	text-align: center;
	color: white;
	border-style: none;
	background: var(--green);
	box-shadow: var(--shadow);
}

.main-info {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	/* grid-template-areas: 'flipper details'; */
	align-items: center;
	justify-items: center;
	padding: 0 40px;
	min-height: 200px;
}
.coin-main {
	/* grid-area: flipper; */
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	padding: 10px;
	padding: 1.5rem;
}
.description {
	font-size: 33px;
}
img {
	max-height: 200px;
}

.btn {
	margin-top: 0;
	text-align: center;
	min-width: 150px;
	min-height: 45px;
	background: var(--blue);
	box-shadow: var(--shadow);
	border: none;
	color: white;
	border-radius: 5px;
	display: inline-block;
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
}
.btn:hover {
	background: var(--lightBlue);
	font-weight: bold;
}

.record {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	max-width: 20em;
	min-height: 8em;
	border: black;
	border-style: solid;
	border-radius: 14px;
	padding: 1.5em;
	font-size: 22px;
}

.title-record {
	font-weight: bold;
}

footer {
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 60px;
	padding: 10px;
	box-shadow: var(--shadow);
	color: white;
	text-align: center;
	background: var(--green);
	font-size: 35px;
	font-family: 'Playball', cursive;
}

/* Media Queries */
@media (max-width: 700px) {
	.main-nav {
		font-size: 30px;
	}
	.main-info {
		margin-top: 20px;
		padding: 30px;
	}
	.record {
		font-size: 18px;
		padding: 15px;
	}
	.btn {
		font-size: 18px;
	}
	footer {
		margin-top: 62px;
		font-size: 30px;
	}
	.description {
		font-size: 20px;
	}
	img {
		max-height: 150px;
	}
}

@media (max-width: 600px) {
	.wrapper {
		grid-gap: 20px;
	}
	.main-info {
		grid-template-columns: 1fr;
		grid-gap: 10px;
		padding: 0px 10px;
		margin: 0px;
	}
	.coin-main {
		margin: 10px;
		padding: 0;
	}
	.record {
		padding: 15px;
		margin-bottom: 0px;
	}
	footer {
		padding: 10px;
		font-size: 30px;
		margin-top: 4px;
	}
}

@media (max-width: 360px) {
	.wrapper {
		grid-gap: 10px;
	}
	.main-info {
		grid-gap: 15px;
		padding: 0 20px;
		margin-top: 0px;
	}
	.coin-main {
		margin: 0;
		padding: 0;
	}
	.record {
		padding: 15px;
	}
	footer {
		font-size: 30px;
		margin-top: 0px;
	}
}
